<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <H1>New chat here</H1>
</body>
</html>