<% layout("/layouts/boilerplate") %>
<div class="row mt-4">
    <div class="col-md-6 offset-md-3">
      <div class="alert alert-danger text-center shadow-sm rounded-3 py-3 px-2" role="alert">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <svg class="bi mb-1" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill" />
          </svg>
          <span class="fw-semibold"><%= message %></span>
        </div>
      </div>
    </div>
  </div>
  
  