<%- include("include/head.ejs") %>
    <form method="post" action="/posts">
        <input placeholder="enter username" name="username"/> <br /> <br />
        <textarea placeholder="write your post" name="content"></textarea><br /> <br />
        <button class="new_submit" style="background-color: #f44336; color: white; padding: 7px 16px; text-align: center; text-decoration: none;">Submit Post</button>
    </form>
</body>
</html>