<%- include("include/head.ejs") %>
    <div class="post_detail">
        <h2>Here is  your post in detail</h2>
        <p>Post Id:  <%=post.id%></p>
        <p>Username:  <%=post.username%></p>
        <p>Content:  <%=post.content%></p>
    </div>
</body>
</html>